
#button{
    -fx-min-width: 850;
}

#input{
    -fx-min-width: 850;
    -fx-min-height: 500;
    -fx-font-family: monospace;
}

#output{
    -fx-min-width: 850;
    -fx-max-height: 150;
    -fx-font-family: monospace;
}

